.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: rgb(53, 101, 53);
}

.Pokedex-loser {
  color: rgb(126, 50, 50);
}
